.table td {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
}

.table th {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
}


.input-divider-left .form-control-position i {
    padding: 0.2rem 0.5rem;
    border-right: 1px solid #d9d9d9;
}

.btn-table-order {
    padding: 0.3rem !important;
    color: white !important;
    font-size: large;
}
